button {
    width: 90px;
    height: 30px;
    margin-bottom: 5px;
    font-size: small;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: orangered;
}

