h1 {
    margin-left: 10px;
}

input {
    width: 500px;
    height: 27px;
    margin-right: 5px;
}

.page {
    display: flex;
    flex-direction: column;
}

.links {
    margin-bottom: 5px;
    font-size: medium;
    color: black;
    text-decoration: none;
    transform-origin: center;
    transform: translate(0) scale(1);
}

.links:hover,
.links:focus {
    color: orangered;
    transform: translate(1%, 1%) scale(1.03);
}